body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff5f8;
    color: #4d4247;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #f1cbd7;
}

header h1 {
    color: #c9859c;
}

nav a {
    text-decoration: none;
    color: #4d4247;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
}

nav a:hover {
    background-color: #f1cbd7;
}

.inicio {
    max-width: 1000px;
    margin: auto;
    padding: 100px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio h2 {
    font-size: 45px;
}

.inicio span {
    color: #c9859c;
}

.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #e5b5c5;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.snoopy img {
    width: 300px;
}

.pagina {
    max-width: 900px;
    margin: auto;
    padding: 80px 30px;
}

.pagina h2 {
    font-size: 40px;
    color: #c9859c;
}

.tarjetas {
    display: flex;
    gap: 20px;
}

.tarjeta {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #f1cbd7;
    flex: 1;
}

.galeria {
    display: flex;
    gap: 20px;
}

.galeria img {
    width: 30%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}